.container#centerwrap
  %h1 Edit Section Details for Section #{@class_section.section_name} of Class #{@class_section.school_class.class_name}
  = form_for @class_section, url: class_section_path(id: @class_section.id, school_class_id: @class_section.school_class_id), method: :put do |f|
    .row
      .form-group.col-sm-8
        = f.label :section_name,'Section Name'
        = f.text_field :section_name, class: "form-control"
    .row
      .form-group.col-sm-8
        = f.label :description,'Description'
        = f.text_field :description, class: "form-control"
    .row
      .form-group.col-sm-8
        = f.label :capacity,'Capacity'
        = f.number_field :capacity, class: "form-control"          
    .row
      .col-md-12
        = f.submit "Update Section", class: "btn btn-primary"        